/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
    70% {
        color: white;
    }

    to {
        color: white;
        background-color: orange;
    }
}

@keyframes blink-critical {
    70% {
      color: white;
    }

    to {
        color: white;
        background-color: red;
    }
}

@keyframes nothing {
}

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

/* The whole bar */
#waybar {
    background: #323232;
    color: white;
    font-family: Intell One Mono, Cantarell, Noto Sans, sans-serif;
    font-size: 24px;
    /* opacity: 0.8; */
}

/* Each module */
#battery,
#clock {
    padding-right: 20px;
    padding-left: 10px;
}
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray {
    padding-left: 10px;
    padding-right: 10px;
}


/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning {
    color: orange;
}

#battery.critical {
    color: red;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#clock {
    font-weight: bold;
}

#cpu {
  /* No styles */
}

#cpu.warning {
    color: orange;
}

#cpu.critical {
    color: red;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: orange;
}

#memory.critical {
    color: red;
    animation-name: blink-critical;
    animation-duration: 2s;
}

#mode {
    background: #64727D;
    border-top: 2px solid white;
    /* To compensate for the top border and still have vertical centering */
    padding-bottom: 2px;
}

#network {
    /* No styles */
}

#network.disconnected {
    color: orange;
}

#pulseaudio {
    /* No styles */
}

#pulseaudio.muted {
    /* No styles */
    color: red
}

#custom-spotify {
    color: rgb(102, 220, 105);
}

#tray {
    /* No styles */
}

#window {
    font-weight: bold;
    opacity: 0.8;
}

#workspaces button {
    border-top: 2px solid transparent;
    /* To compensate for the top border and still have vertical centering */
    padding-bottom: 2px;
    padding-left: 15px;
    padding-right: 15px;
    color: #888888;
    transition: all 0.3s ease-in-out;
    /* opacity: 0.7; */
    border-radius: 15px;
}

#workspaces button.active {
    border-color: #4c7899;
    color: greenyellow;
    background-color: #888888;
    /* opacity: 0.9; */
    border-radius: 15px;
}

#workspaces button.urgent {
    border-color: #c9545d;
    color: #c9545d;
}
#custom-filemanager {
    padding-left: 15px;
    padding-right: 15px;
}

#custom-browser {
    padding-left: 15px;
    padding-right: 15px;
}

#custom-obsidian {
    padding-left: 15px;
    padding-right: 15px;
}

#custom-wofi {
    padding-left: 15px;
    padding-right: 15px;
}

#custom-media {
    padding-left: 15px;
    padding-right: 15px;
}
#custom-media.playing {
    color: red;
}
#custom-media.paused {
    color: green;
}

#custom-wlogout {
    color: red;
    /* background: green; */
    border-radius: 15px;
    padding-right: 15px;
    padding-left: 15px;
}

#custom-updates.has-updates {
    color: red;
}

#custom-updates.updated {
    color: green;
}

#custom-mouse{
    padding-right: 15px;
    padding-left: 15px;
}

#custom-mouse{
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 2s;
}
#custom-mouse.flat{
    animation-name: blink-critical;
    color: red;
}
#custom-mouse.very-low{
    animation-name: nothing;
    color: pink;
}
#custom-mouse.low{
    animation-name: nothing;
    color: orange;
}
#custom-mouse.ok{
    animation-name: nothing;
    color: yellow;
}
#custom-mouse.good{
    animation-name: nothing;
    color: green;
}

